.search-container {
    text-align: center;
    padding: 15px 0px;
}

.search-input {
    text-align: center;
    height: 40px;
}

.recipe-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
}

.left-container {
    display: flex;
}

.recipe-image {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    cursor: pointer;
}

.recipes-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
}

.recipe-name {
    font-size: 30px;
    font-weight: bold;
}

.recipe-comments-container {
    display: flex;
    align-items: flex-end;
}

.recipe-comments {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    height: 45px;
    color: white;
    background-color: red;
    border-radius: 20px;
    cursor: pointer;
}