.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.add-recipes-input {
    margin: 15px 0px;
    height: 35px;
    text-align: center;
}

.submit-button {
    background-color: rgb(173, 22, 219);
    color: white;
    border-radius: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 0px auto;
    cursor: pointer;
}


/* input block for mobile */

@media screen and (max-width: 640px) {

    .form-container {
        width: 75%;
    }

    .submit-button {
        width: 75%;
    }

}