.header-container {
    height: 85px;
    border-bottom: 1px solid black;
    background-color: violet;
}

.header-image {
    height: 60px;
}

.navigation-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation-header {
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}