.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10% 0px;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 70px;
    font-weight: 600;
}

.subtitle {
    font-size: 40px;
}

.explore {
    width: 25%;
    height: 45px;
    margin-top: 70px;
    background-color: rgb(173, 22, 219);
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

/* title block for tablet */

@media screen and (max-width: 1070px) {

    .title {
        font-size: 60px;
        font-weight: 600;
    }
    
}

/* title block for mobile */
@media screen and (max-width: 641px) {

    .title {
        font-size: 50px;
        font-weight: 600;
    }

}